@import '../../common.less';

.timeline {
  min-height: 100vh;
  background-color: white;
  .section {
    padding: 16px;
    .project-overview {
      text-align: left;
    }
  }
}

// .title {
//   color: var(--ant-primary-7);
//   font-size: 16px;
// }

// .title2 {
//   color: var(--ant-primary-7);
//   font-size: 18px;
//   font-weight: 600;
// }

// .title3 {
//   color: var(--ant-primary-7);
//   font-style: italic;
//   display: flex;
// }

// .item {
//   border: dashed var(--ant-primary-4) 1px;
//   font-size: 10px;
//   margin: 2px;
//   padding: 2px 4px;
// }
