// @primary-color: rgb(106, 90, 205);

:root {
  --ant-primary-color: @primary-color;
}

.ant-btn-primary {
  background: var(--ant-primary-color) !important;
  border-color: var(--ant-primary-color) !important;
}

.ant-btn:hover, .ant-btn:focus {
  color: var(--ant-primary-7) !important;
  border-color: var(--ant-primary-color) !important;
}

.ant-btn-primary:hover, .ant-btn-primary:focus {
  color: #fff !important;
  border-color: var(--ant-primary-5) !important;
  background: var(--ant-primary-5) !important;
}